<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dashboard</title>


    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/xterm.min.css"> <!-- Local xterm CSS -->
</head>
<body>
    <div class="dashboard">
        <div class="section metrics-section" style="grid-column: 1 / span 3;">
            <h2>Metrics</h2>
            <div class="metric-group">
                <div class="metric-row"><span class="metric-label">STATE:</span> <span class="metric-value" id="state">-</span></div>
                <div class="metric-row"><span class="metric-label">PREV_EVENT:</span> <span class="metric-value" id="prev-event">-</span></div>
                <div class="metric-row"><span class="metric-label">UPCOMING_EVENT:</span> <span class="metric-value" id="next-event">-</span></div>
            </div>
            <h3>Routines:</h3>
            <div id="routines" class="metric-group">
                <div class="metric-value">-</div>
            </div>
            <h3>Conditions:</h3>
            <table>
                <tr>
                    <th>highway</th>
                    <th>can_overtake</th>
                    <th>tunnel</th>
                </tr>
                <tr>
                    <td id="condition-highway">-</td>
                    <td id="condition-can-overtake">-</td>
                    <td id="condition-tunnel">-</td>
                </tr>
                <tr>
                    <th>car_on_path</th>
                    <th>no_lane</th>
                    <th>rerouting</th>
                </tr>
                <tr>
                    <td id="condition-car-on-path">-</td>
                    <td id="condition-no-lane">-</td>
                    <td id="condition-rerouting">-</td>
                </tr>
            </table>
        </div>

        <div class="section">
            <h2>Camera Feed</h2>
            <img id="video-stream" src="/video_feed" width="320" height="240" />
        </div>

        <div class="section telemetry-section" style="grid-column: 5 / span 4;">
            <h2>Telemetry</h2>
            <div class="metric-group">
              <div class="metric-row">
                <span class="metric-label">SPEED_CMD:</span>
                <span class="metric-value" id="speed_cmd">-</span>
                <span class="metric-unit">m/s</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">SPEED:</span>
                <span class="metric-value" id="speed">-</span>
                <span class="metric-unit">m/s</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">STEER:</span>
                <span class="metric-value" id="steer">-</span>
                <span class="metric-unit">°</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">DISTANCE:</span>
                <span class="metric-value" id="distance">-</span>
                <span class="metric-unit">m</span>
              </div>
              <!--<div class="metric-row">
                <span class="metric-label">SONAR_L:</span>
                <span class="metric-value" id="sonar_l">-</span>
                <span class="metric-unit">m</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">SONAR_R:</span>
                <span class="metric-value" id="sonar_r">-</span>
                <span class="metric-unit">m</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">SONAR_C:</span>
                <span class="metric-value" id="sonar_c">-</span>
                <span class="metric-unit">m</span>
              </div>-->
              <div class="metric-row">
                <span class="metric-label">TOF_FRONT:</span>
                <span class="metric-value" id="tof_front">-</span>
                <span class="metric-unit">mm</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">TOF_LEFT:</span>
                <span class="metric-value" id="tof_left">-</span>
                <span class="metric-unit">mm</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">YAW:</span>
                <span class="metric-value" id="yaw">-</span>
                <span class="metric-unit">°</span>
              </div>
              <div class="metric-row">
                <span class="metric-label">HEADING:</span>
                <span class="metric-value" id="heading">-</span>
                <span class="metric-unit"></span>
              </div>
              <div class="metric-row">
                <span class="metric-label">HEADLIGHTS:</span>
                <span class="metric-value" id="headlights">-</span>
                <span class="metric-unit"></span>
              </div>
            </div>
        </div> 
          
        <div class="section" style="grid-column: 1 / span 4;">
            <h2>LiDAR Visualization</h2>
            <div id="lidar-container" style="width: 700px; height: 600px; background: transparent; border: none;"></div>
        </div>


        <div class="control-section" style="grid-column: 5 / span 4;">
            <div class="section">
                <h2>System Controls</h2>
              
                <div class="button-row">
                    <button class="system-control" data-system="utils" data-action="start">Start Utils</button>
                    <button class="system-control" data-system="utils" data-action="stop">Stop Utils</button>
                </div>
                
          
                <div class="button-row">
                    <button class="system-control" data-system="brain" data-action="start">Start Brain</button>
                    <button class="system-control" data-system="brain" data-action="stop">Stop Brain</button>
                </div>
                
        
                <div class="button-row">
                    <button class="system-control" data-system="brain_random" data-action="start">Start Brain random</button>
                    <button class="system-control" data-system="brain_random" data-action="stop">Stop Brain random</button>
                </div>

                <div class="button-row">
                    <button class="system-control" data-system="brain_joy" data-action="start">Start Brain joystick</button>
                    <button class="system-control" data-system="brain_joy" data-action="stop">Stop Brain joystick</button>
                </div>

                <div class="button-row">
                    <button class="system-control" data-system="camera"    data-action="restart">Restart Camera</button>
                    <button class="system-control" data-system="dashboard" data-action="restart">Restart Dashboard</button>
                </div>    
                <div class="button-row">
                    <button class="system-control" data-system="docker"    data-action="restart">Restart Docker</button>
                    <button class="system-control" data-system="imu"       data-action="restart">Restart IMU</button>
                </div>
            </div>
        </div>

        <div class="section terminal-section" style="grid-column: 1 / span 8;">
            <h2>Terminal</h2>
            <div id="terminal"></div>
        </div>
    </div>



<script src="/static/js/socket.io.js"></script>
    <script src="/static/js/xterm.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>